* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
  /* Desplazamiento suave en toda la página */
  overflow-x: hidden;
  scrollbar-width: none;
  /* Para Firefox */

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  cursor: none;
  overflow-y: scroll;
  /* Siempre permite el desplazamiento vertical */
  scrollbar-width: none;
  /* Para Firefox */

}


h1,
h2,
a {
  font-family: "Cal Sans", sans-serif;
  font-weight: 650;
  color: aliceblue;
  text-decoration: none;
}





/*LOAD SCREEN */

/* Barra de carga */#simple-loader {
  position: fixed;
  inset: 0;
  background-color: #ccff00; /* Color igual al metaball o el que prefieras */
  z-index: 9999;
  transform: translateY(100%);
  animation: slideInOut 0.9s ease forwards;
}

@keyframes slideInOut {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Animación de la barra de carga */
@keyframes progress-bar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Animación de zoom in */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    /* Comienza más pequeña */
    opacity: 0;
    /* Empieza invisible */
  }

  100% {
    transform: scale(1);
    /* Escala normal */
    opacity: 1;
    /* Totalmente visible */
  }
}

#cara-container {
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  opacity: 1;
  pointer-events: none;
  /* Para que no interfiera con otros elementos */
}

#cara {
  width: 150px;
  /* Tamaño de la carita */
  height: auto;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* Efecto de zoom y opacidad */
}

.zoomIn {
  opacity: 1;
  transform: scale(1.2);
  /* Cambia el valor de escala según el tamaño deseado */
}


/* Pantalla de carga */
#loader {
  position: fixed;
  inset: 0;
  background-color: #ccff00;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Texto o logo en el centro */
.loader-content {
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.1s ease forwards 0.1s;
}

.loader-text {
  font-family: "Cal Sans", sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: 700;
}

/* Animación de entrada */
@keyframes loaderEntrance {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

/* Desvanecimiento del contenido */
@keyframes fadeIn {
  to {
    opacity: 1;

  }
}

/* Animación de salida */
#loader.loader--hide {
  animation: loaderExit 0.5s ease forwards;
}

@keyframes loaderExit {
  from {
    transform: translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateY(100%);

  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    /* Comienza normal */
    opacity: 0;
    /* Empieza invisible */
  }

  100% {
    transform: scale(1.05);
    /* Un pequeño aumento de escala */
    opacity: 1;
    /* Se vuelve completamente visible */
  }
}


#metaball-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;


}

/* Aplicamos el desenfoque en el metaball cuando está sobre un elemento interactivo */
#metaball-cursor:hover {
  filter: blur(50px);
  mix-blend-mode: exclusion;
}

.interactive {
  cursor: none;
  /* Mantén el cursor oculto sobre estos elementos */
}

/* Ocultar el cursor por defecto en elementos interactivos */
a:hover,
button:hover,
.clickable:hover {
  cursor: none;
}




.banner-hardsurface {
  position: relative;
  background-image: url("/media/hiidroaviongrass2-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Degradado negro a transparente desde arriba (antes) */
.banner-hardsurface::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
  pointer-events: none;
}

/* Degradado transparente a negro desde abajo (nuevo) */
.banner-hardsurface::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1)100%);
  z-index: 2;
  /* Más arriba que ::before para que se vea */
  pointer-events: none;
}




.metaball-float {
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: 75%;
    left: 50%;
    opacity: 70%;
    transform: translate(-50%, -50%);
    animation: float 2s ease-in-out infinite;
    z-index: 10;
}


.metaball-center {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #ccff00;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: squish 2s ease-in-out infinite;
}


.arrow-down {
  width: 88px;
  height: 88px;
  stroke: #000000;
  animation: bounce 2s infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }

  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

@keyframes squish {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.04, 0.96);
  }

  50% {
    transform: scale(0.94, 1.06);
  }

  75% {
    transform: scale(1.03, 0.97);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }
}

.main-nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  max-width: 1100px;
  border-radius: 999px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.scroll-balls-container {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  padding: 1rem 0.7rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.logo {
  font-size: 1rem;
  color: #ccff00;
  /* Verde neón similar */
  text-transform: lowercase;
}

.logo>h2 {
  letter-spacing: 1px;
  font-size: 2rem;
  color: #ccff00;
  /* Verde neón similar */
  text-transform: lowercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: color 0.3s;
}
.next{
  overflow-y: hidden;
}

.nav-links a:hover {
  color: #ccff00;
}

.nav-links .cta {
  background: transparent;
  color: #ccff00;
  font-weight: bold;
}

#proyectos {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proyectos>h2 {
  font-size: 4em;
  color: #ccff00;
}

.scroll-balls {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.scroll-balls .ball {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #555;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.scroll-balls .ball {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(160, 160, 160, 0.3);
  /* Semitransparente */
  backdrop-filter: none;
  display: inline-block;

}

.scroll-balls .ball:not(.active) {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* Para Safari */
  background: rgba(85, 85, 85, 0.3);
  /* Mantén el fondo semitransparente */
}

.scroll-balls .ball.active {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background: #ccff00;
}





.marquee--hard-surface {
  font-size: 6rem;
  /* Más pequeña si querés diferenciarla */
  opacity: 0.15;
  /* Más sutil */
  animation-duration: 80s;
  /* Más lenta si lo deseás */
}

.marquee {
  overflow: hidden;
  position: relative;
  top: 0.5em;
  font-family: "Cal Sans", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  padding: 1.5rem 0;
  white-space: nowrap;
  opacity: 0.6;
  text-shadow: 20 20 20px rgb(0, 0, 0);
}

.marquee__inner {
  display: flex;
  width: fit-content;
  animation: marquee 60s linear infinite;
}

.marquee__block {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* Espacio interno entre partes de la frase */
  margin-right: 3rem;
  /* Espaciado entre bloques de la frase */
}


.dot {
  font-size: 0.9em;
  color: #ccff00;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
    /* Ajuste a -100% para un ciclo más fluido */
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
.marquee__inner--reverse {
  display: flex;
  width: fit-content;
  animation: marquee-reverse 30s linear infinite;
}



.highlight {
  color: #ccff00;
}

/* seccion 1 */

.avioneta {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 2em;
  padding: 2em;
  background-color: #000000;
  color: white;
  justify-content: space-evenly;
margin-top: 5em;
}

.txt1 {
max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1em;

}
.txt1>h1 {
  font-size: 4em;
}
.txt1>p {
  margin: 1em;
  font-size: 2em;

}

.highlight {
  color: #ccff00;
}

.carrusel {
   flex: 1;
    overflow: hidden;
    display: flex
;
    flex-direction: column;
    height: 70vh;
    width: 90vw;
    margin: 3em;
}


.carousel-slides {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  overflow-y: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 1;
}



.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 2em;
  position: relative;
  height: 10%;
  z-index: 2;
}

.carousel-indicators .indicator {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
  background-color: #ccff00;
}


/* seccion 2 */

.canoa {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  gap: 2em;
  padding: 2em;
  background-color: #000000;
  color: white;
  justify-content: space-evenly;
margin-top: 5em;
}
/* seccion 3 */

.cascos {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 2em;
  padding: 2em;
  background-color: #000000;
  color: white;
  justify-content: space-evenly;
margin-top: 5em;
}







